#conteneur{
float:left;
width:100%;
}

#un{
float:left;
width:25%;
height:200px;
background-color:blue;
}

#deux{
float:left;
width:25%;
height:200px;
background-color:red;
}

#trois{
float:left;
width:25%;
height:200px;
background-color:yellow;
}

#quatre{
float:left;
width:25%;
height:200px;
background-color:black;
}
